# Vite production env example
VITE_API_URL=/api
VITE_ENABLE_GOOGLE=true
VITE_GOOGLE_CLIENT_ID=xxxx.apps.googleusercontent.com
VITE_WA_INSURER_NUMBER=5492210000000
VITE_ENABLE_ANNOUNCEMENTS=false
VITE_USE_MSW=false
